body {
   margin: 0;
   padding: 0;
   font-family: "PT Sans Narrow", Arial, sans-serif;
   font-size: 14px;
   line-height: 24px;
   font-weight: 700;
   color: #ffffff;
   text-transform: uppercase;
   background-color: #000000;
   background-image: url(../img/bg.png);
   background-position: top center;
   background-repeat: no-repeat;
}
img {
   max-width: 100%;
   height: auto;
}
.main-header {
   margin-bottom: 75px;
   background-color: #000000;
}
.main-navigation {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: transparent;
}
.main-navigation-wrapper {
   width: 100%;
   margin-bottom: 60px;
   background-color: #000000;
}
.main-navigation-wrapper .container {
   display: flex;
   justify-content: space-between;
}
.container {
   width: 940px;
   margin: 0 auto;
   padding: 0 10px;
}
.site-navigation {
   width: 720px;
   display: flex;
   justify-content: space-between;
   margin: 0;
   padding: 0;
   list-style: none;
}
.user-navigation {
   width: 140px;
   margin: 0;
   padding: 0;
   list-style: none;
}
.main-header-logo {
   order: 2;
   width: 371px;
   height: 155px;
}
.site-navigation a {
   font-size: 16px;
   line-height: 20px;
   text-decoration: none;
   list-style: none;
}
.user-navigation a {
   font-size: 16px;
   line-height: 20px;
   text-decoration: none;
   list-style: none;
}
.site-navigation a, .user-navigation a {
   display: block;
   padding: 25px 20px;
   vertical-align: middle;
   color: #ffffff;
}
.site-navigation a:hover, .site-navigation a:focus, .user-navigation a:hover, .user-navigation a:focus {
   background-color: #242424;
}
.feature-item p {
   font-size: 14px;
   line-height: 24px;
   color: #ffffff;
}
.feature-item h3 {
   font-size: 30px;
   line-height: 42px;
   color: #ffffff;
}
.features {
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 10px;
   margin-bottom: 80px;
}
.features-list {
   display: flex;
   justify-content: space-between;
   margin: 0;
   padding: 0 10px;
   list-style: none;
}
.feature-item {
   width: 300px;
   text-align: center;
}
.news h2 {
   font-size: 30px;
   line-height: 42px;
   color: #000000;
}
.news a {
   font-size: 14px;
   line-height: 24px;
   list-style: none;
   text-decoration: none;
   color: #ffffff;
}
.news-list {
   font-size: 14px;
   line-height: 24px;
   list-style: none;
   text-decoration: none;
   color: #000000;
}
.news-list time {
   font-size: 14px;
   line-height: 24px;
   color: #000000;
}
.gallery h2 {
   font-size: 30px;
   line-height: 42px;
   color: #000000;
}
.button {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}
.button:hover, .button:focus, .button:active {
   background-color: #663d15;
}
.index-columns {
   display: flex;
   justify-content: space-between;
   width: 1200px;
   margin-left: auto;
   margin-right: auto;
   padding: 50px 80px;
   margin-bottom: 35px;
   background-image: url(../img/bg-2.png);
   background-position: center, 0 0;
   background-repeat: no-repeat, repeat;
   background-color: #f8f5f2;
}
.news {
   width: 380px;
}
.gallery {
   width: 300px;
}
.contacts h2 {
   font-size: 30px;
   line-height: 42px;
   color: #000000;
}
.contacts p {
   font-size: 14px;
   line-height: 24px;
   color: #000000;
}
.contacts a {
   font-size: 14px;
   line-height: 24px;
   text-decoration: none;
   color: #ffffff;
}
.appointment h2 {
   font-size: 30px;
   line-height: 42px;
   color: #000000;
}
.appointment p {
   font-size: 14px;
   line-height: 24px;
   color: #000000;
}
.appointment label {
   font-size: 14px;
   line-height: 24px;
   color: #000000;
}
.contacts {
   width: 380px;
}
.appointment {
   width: 300px;
}
.main-footer {
   padding: 60px 0;
   margin-top: 65px;
   background-color: #212121;
   background-position: 0 0;
}
.main-footer .container {
   display: flex;
}
.footer-contacts {
   margin: 0;
   margin-right: 80px;
   width: 320px;
}
.footer-social {
   width: 140px;
   text-align: center;
}
.footer-copyright {
   margin: 0;
   margin-left: auto;
   width: 140px;
   text-align: center;
}